<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Livros</title>
</head>
<body>
    <h1>Cadastro de Livro</h1>

    <form th:action="@{/livros}" th:object="${livro}" method="post">

        <input type="hidden" th:field="*{id}">

        <label for="titulo">Titulo:</label>
        <input type="text" id="titulo" th:field="*{titulo}" required><br><br>
        
        <label for="autor">Autor:</label>
        <input type="text" id="autor" th:field="*{autor}" required><br><br>

        <label for="categoria">Categoria:</label>
            <select id="categoria" th:field="*{categoria}" required>
                <option value="">Selecione...</option>
                <option th:each="cat : ${T(com.projeto.livraria.model.CategoriaEnum).values()}"
                        th:value="${cat}"
                        th:text="${cat.descricao}">Ficcão                
                </option>
            </select>

        <button type="submit">Salvar Livro</button>
    </form>

    <p><a th:href="@{/}">Voltar para a Lista</a></p>
</body>
</html>