<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Cadastro de Categoria</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 class="mb-4">Cadastro de Categoria</h1>
        
        <form th:action="@{/categorias}" th:object="${categoria}" method="post">
            <input type="hidden" th:fiel="*{id}">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome da Categoria:</label>
                <input type="text" id="nome" th:field="*{nome}" class="form-label" required><br><br>
            </div>

            <button type="submit" class="btn btn-sucess me-2">Salvar Categoria</button>
            <p><a th:href="@{/categorias}" class="btn btn-outline-secondary">Voltar para a Lista de Categorias</a></p>
        </form>
    </div>
</body>
</html>