<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Lista de Categorias</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 class="mb-4">Gerenciamento de Categorias</h1>

        <p>
            <a th:href="@{/categorias/nova}" class="btn btn-primary me-2">+ Cadastrar Nova Categoria</a>
            <a th:href="@{/}" class="btn btn-secondary">Voltar para a Home</a>
        </p>

        <table class="table table-striped table-hover mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cat : ${listaDeCategorias}">
                    <td th:text="${cat.id}">1</td>
                    <td th:text="${cat.nome}">Ficção Científica</td>
                    <td>
                        <a th:href="@{/categorias/editar/{id}(id=${cat.id})}" class="btn btn-sm btn-info me-1">Editar</a>
                        <a th:href="@{/categorias/excluir/{id}(id=${cat.id})}" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>